%p#notice= notice
%h1 Fan Comments
%table
  %thead
    %tr
      %th Author no
      %th Name
      %th Body
      %th Deleted
      %th{:colspan => "3"}
  %tbody
    - @fan_comments.each do |fan_comment|
      %tr
        %td= fan_comment.author_no
        %td= fan_comment.name
        %td= fan_comment.body
        %td= fan_comment.deleted
        %td= link_to 'Show', fan_comment
        %td= link_to 'Edit', edit_fan_comment_path(fan_comment)
        %td= link_to 'Destroy', fan_comment, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Fan Comment', new_fan_comment_path
